<section class="inner">
    <h2 class="section-title">新規会員登録</h2>
    
    <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      
      <table class="user_info user_form">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
            <tr>
              <td>名前</td>
              <td><%= f.label :first_name, "(姓)", class: "user_name" %> <%= f.text_field :first_name, autofocus: true, :placeholder =>"姓" %></td>
              <td><%= f.label :last_name, "(名)", class: "user_name" %> <%= f.text_field :last_name, :placeholder =>"名" %></td>
            </tr>
          
            <tr>
              <td>フリガナ</td>
              <td><%= f.label :kana_first_name, "(セイ)" %> <%= f.text_field :kana_first_name, :placeholder =>"セイ" %></td>
              <td><%= f.label :kana_last_name, "(メイ)" %> <%= f.text_field :kana_last_name, :placeholder =>"メイ" %></td>
            </tr>
            
            <tr>
              <td><%= f.label :birth_date, "生年月日" %></td>
              <td>
                 <%= f.date_select :birth_date, {start_year: 1950, end_year: 2016, include_blank: true, use_two_digit_numbers: true}, {class: "input-tab birthday-select"} %>
              </td>
            </tr>
            
            <tr>
              <td><%= f.label :email, "メールアドレス" %></td>
              <td colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            
            <tr>
              <td><%= f.label :phone_number, "電話番号(ハイフンなし10or11桁)" %></td>
              <td colspan="2"><%= f.text_field :phone_number, :placeholder =>"00011112222" %></td>
            </tr>
            
            <tr>
              <td><%= f.label :image, "プロフィール画像" %></td>
              <td colspan="2"><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
          
            <tr>
              <td>
              <%= f.label :password, "パスワード" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              </td>
              <td colspan="2">
                <%= f.password_field :password, id: "pass", autocomplete: "new-password" %>
                <input type="checkbox" onChange="document.getElementById('pass').type = (this.checked) ? 'text' : 'password';">
                パスワードを表示する
              </td>
            </tr>
          
            <tr>
              <td><%= f.label :password_confirmation, "パスワード（確認用）" %></td>
              <td colspan="2"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            </tr>
          
            <tr>
              <td></td>
              <td colspan="2"><%= f.submit "新規登録", class: "btn btn-success" %></td>
            </tr>
            
          </tbody>
      </table>
    <% end %>
    
  <h2 class="section-ttl">既に登録済みの方</h2>
  <p><%= link_to "こちら", new_user_session_path, class: "underline" %>からログインしてください。</p>
</section>