<table class='table table-hover table-bordered'>
    <thead>
      <tr>
        <th scope="col">目標名</th>
        <th scope="col">内容</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      
       <!--カテゴリー（プライベート）-->
      <div class="category bg-primary"><strong>プライベート</strong></div>
        <% achievement3.each do |achievement| %>
          <tr>
          <td><%= achievement.name %></td>
          <td><%= achievement.content %></td>
          <td>
            <%= link_to edit_achievement_path(achievement.id) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
          <td>
            <%= link_to achievement_path(achievement), method: :delete, data: { confirm: '本当に消しますか？' } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </td>
          
      <% end %>
      <%= paginate achievement3, param_name: :achievement3_page %>
    </tbody>
</table>
