<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-1 mb-5 mt-5">
            <h3>タスク編集</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <%= form_with model: @task, url: task_path(@task), method: :patch do |f| %>
            <div class="form_group">
                <%= f.label :name, 'タスク名' %>
                <%= f.text_field :name, autofocus: true %>
            </div>
            
            <div class="form_group">
                <%= f.label :content, 'タスク内容' %>
                <%= f.text_area :content  %>
            </div>
            
            <div class="form_group">
                <%= f.select :category, Task.categories.keys.map {|k| [I18n.t("enums.task.category.#{k}"), k]} %>
            </div>
            
            <div class="action">
                <%= f.submit '更新', class: 'btn btn-success' %>
            </div>
            <% end %>
        </div>
    </div>
</div>