<div class="container my-3 ">
    <!--会員情報-->
    <div class="row">
        <div class=" col-mb-6 col-lg-8 mx-auto text-center">
            <div class="card">
                <%= image_tag @user.image, class: "card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title">
                        <%= link_to user_path(@user.id), class: "text-dark" do %>
                            <strong><%= @user.full_name %></strong>
                        <% end %>
                    </h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Level：<%= @level %>
                    </li>
                    <li class="list-group-item">
                        Next Level：
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: <%= @x * 10 %>%" aria-valuenow="<%= @x * 10 %>" aria-valuemin="0" aria-valuemax="100"><%= @x %></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        フォロー: <%= link_to  @user.followings.count, follows_user_path(@user.id)  %>  フォロワー: <%= link_to @user.followers.count, followers_user_path(@user.id)  %>
                    </li>
                    <li class="list-group-item">
                        <% if current_user != @user%>
                          <% if current_user.following?(@user) %>
                            <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-info" %>
                          <% else %>
                            <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
                          <% end %>
                        <% end %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!--目標一覧-->
    <div class="row mt-2">
        <div class="col-mb-6 col-lg-8 mx-auto text-center">
            <div class="card">
                <h5 class="card-header">
                    <% if current_user != @user %>
                        <strong>目標一覧</strong>
                    <% else %>
                        <%= link_to achievements_path, class: "text-dark" do %>
                            <strong>目標一覧</strong>
                        <% end %>
                    <% end %>
                </h5>
                <div class="card-body">
                    <table class='table table-hover table-inverse'>
                     <thead>
                         <tr>
                             <th>目標名</th>
                             <th>内容</th>
                             <th>カテゴリー</th>
                             <th colspan="3"></th>
                         </tr>
                     </thead>
                     <tbody>
                         <% @achievements.each do |achievement| %>
                         <tr>
                             <td><%= achievement.name %></td>
                             <td><%= achievement.content %></td>
                             <td><%= achievement.ja_category %></td>
                             <td>
                                 <% if current_user == @user%>
                                     <%= link_to edit_achievement_path(achievement.id) do %>
                                         <i class="fas fa-edit"></i>
                                     <% end %>
                                <% end %>
                             </td>
                         </tr>
                         <% end %>
                     </tbody>
                 </table>
                </div>
            </div>
        </div>
    </div>
    
    <!--タスク完了済みの前日比・前週比-->
    <div class="row mt-2">
        <div class="col-mb-6 col-lg-8 mx-auto text-center">
            <div class="card">
                <h6 class="card-header"><strong>タスク完了済みの前日比・前週比</strong></h6>
                <div class="card-body">
                    <% if current_user != @user %>
                        <i class="fas fa-tasks"></i>タスク一覧
                    <% else %>
                        <%= link_to tasks_path, class: "text-dark" do %>
                            <i class="fas fa-tasks"></i>タスク一覧
                        <% end %>
                    <% end %>
                    <table class="table table-bordered">
                         <thead>
                             <tr>
                                <th>今日の完了数</th>
                                <th>前日の完了数</th>
                                <th>前日比</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td><%= @today_task.where(status: 2).count %></td>
                                 <td><%= @yesterday_task.where(status: 2).count %></td>
                                 <td>
                                    <% if @yesterday_task.where(status: 2).count == 0 %>
                                        前日の投稿はありません。
                                    <% else %>
                                      <% @the_day_before = @today_task.where(status: 2).count / @yesterday_task.where(status: 2).count.to_f %>
                                      <%=(@the_day_before * 100).round %>
                                    <% end %>
                                 </td>
                             </tr>
                         </tbody>
                     </table>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>今週の完了数</th>
                            <th>先週の完了数</th>
                            <th>先週比</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                          <tr>
                            <td><%= @this_week_task.where(status: 2).count %></td>
                            <td><%= @last_week_task.where(status: 2).count %></td>
                            <% if @last_week_task.where(status: 2).count == 0 %>
                              <td>先週の完了したタスクはありません</td>
                            <% else %>
                              <td>
                                <% @the_week_before = @this_week_task.where(status: 2).count / @last_week_task.where(status: 2).count.to_f %>
                                 　<%= (@the_week_before * 100).round %>
                              </td>
                            <% end %>
                          </tr>
                        </tbody>
                  </table>
                   <table class="table">
                       <thead>
                        <tr>
                         <th>６日前</th>
                         <th>5日前</th>
                         <th>4日前</th>
                         <th>3日前</th>
                         <th>２日前</th>
                         <th>昨日</th>
                         <th>今日</th>
                        </tr>
                       </thead>
                       <tbody>
                        <tr>
                         <th><%= @tasks.where(status: 2).created_6days.count %></th>
                         <th><%= @tasks.where(status: 2).created_5days.count %></th>
                         <th><%= @tasks.where(status: 2).created_4days.count %></th>
                         <th><%= @tasks.where(status: 2).created_3days.count %></th>
                         <th><%= @tasks.where(status: 2).created_2days.count %></th>
                         <th><%= @yesterday_task.where(status: 2).count %></th>
                         <th><%= @today_task.where(status: 2).count %></th>
                        </tr>
                       </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
    <!--タスク完了済みグラフ-->
    <div class="row mt-2">
        <div class="col-mb-6 col-lg-8 mx-auto">
            <div class="card">
                <div class="card-body">
                      <canvas id="myChart" width="300" height="100"> </canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
   $(document).on('turbolinks:load', function () {
       console.log('char.js');
        var ctx = document.getElementById("myChart");//.getContext('2d');
        if ( ctx == null ) return;
        var myChart = new Chart(ctx, {
            type: 'line',                      
            data: {
                labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
                datasets: [{
                    label: "タスク完了数",
                    data: [<%= @tasks.where(status: 2).created_6days.count %>, <%= @tasks.where(status: 2).created_5days.count %>, <%= @tasks.where(status: 2).created_4days.count %>, <%= @tasks.where(status: 2).created_3days.count %>, <%= @tasks.where(status: 2).created_2days.count %>, <%= @yesterday_task.where(status: 2).count %>, <%= @today_task.where(status: 2).count %>],
                    backgroundColor: 'rgba(255, 80, 120, 1.0)',
                    borderColor: 'rgba(255, 80, 120, 1.0)',
                    fill: false
                }]
            },
            options: {
              title: {
                display: true,
                text: '7日間の投稿数の比較'
              },
              scales: {
                yAxes: [{
                  ticks: {
                    suggestedMax: 10,
                    suggestedMin: 0,
                    stepSize: 1,
                    callback: function(value, index, values){
                      return  value
                    }
                  }
                }]
              },
            }
        });
    });
</script>
