<div class='container px-5 px-sm-0'>
    <div class="row">
        <div class='col-md-3'>
            <h2>タスク管理</h2>
            
            <!--プロフィール欄-->
            <table class="table">
                <tr>
                    <th><%= image_tag @user.image, size:'320x320' %></th>
                </tr>
                <tr>
                    <th>名前</th>
                    <th><%= @user.full_name %></th>
                </tr>
                <tr>
                    <th>レベル：</th>
                    <th></th>
                </tr>
            </table>
        </div>
        
        <!--目標一覧-->
        <div class='col-md-8 offset-md-1'>
            <h2>目標一覧</h2>
             <table class='table table-hover table-inverse'>
                 <thead>
                     <tr>
                         <th>目標名</th>
                         <th>内容</th>
                         <th>カテゴリー</th>
                         <th colspan="3"></th>
                     </tr>
                 </thead>
                 <tbody>
                     <% @achievements.each do |achievement| %>
                     <tr>
                         <td><%= achievement.name %></td>
                         <td><%= achievement.content %></td>
                         <td><%= achievement.category %></td>
                         <td><%= link_to '編集', edit_achievement_path(achievement.id), class: "btn btn-primary" %></td>
                     </tr>
                     <% end %>
                 </tbody>
             </table>
             
             <%= link_to 'タスク一覧', tasks_path %>
             
             <h2>タスク完了済みの前日比・前週比</h2>
             <table class="table table-bordered">
                 <thead>
                     <tr>
                        <th>今日の完了数</th>
                        <th>前日の完了数</th>
                        <th>前日比</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <td><%= @today_task.where(status: 2).count %></td>
                         <td><%= @yesterday_task.where(status: 2).count %></td>
                         <td>
                            <% if @yesterday_task.where(status: 2).count == 0 %>
                                前日の投稿はありません。
                            <% else %>
                              <% @the_day_before = @today_task.where(status: 2).count / @yesterday_task.where(status: 2).count.to_f %>
                              <%=(@the_day_before * 100).round %>
                            <% end %>
                         </td>
                     </tr>
                 </tbody>
             </table>
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>今週の完了数</th>
                    <th>先週の完了数</th>
                    <th>先週比</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr>
                    <td><%= @this_week_task.where(status: 2).count %></td>
                    <td><%= @last_week_task.where(status: 2).count %></td>
                    <% if @last_week_task.where(status: 2).count == 0 %>
                      <td>先週の完了したタスクはありません</td>
                    <% else %>
                      <td>
                        <% @the_week_before = @this_week_task.where(status: 2).count / @last_week_task.where(status: 2).count.to_f %>
                         　<%= (@the_week_before * 100).round %>
                      </td>
                    <% end %>
                  </tr>
                </tbody>
          </table>
          
          <table class="table">
               <thead>
                <tr>
                 <th>６日前</th>
                 <th>5日前</th>
                 <th>4日前</th>
                 <th>3日前</th>
                 <th>２日前</th>
                 <th>昨日</th>
                 <th>今日</th>
                </tr>
               </thead>
               <tbody>
                <tr>
                 <th><%= @tasks.where(status: 2).created_6days.count %></th>
                 <th><%= @tasks.where(status: 2).created_5days.count %></th>
                 <th><%= @tasks.where(status: 2).created_4days.count %></th>
                 <th><%= @tasks.where(status: 2).created_3days.count %></th>
                 <th><%= @tasks.where(status: 2).created_2days.count %></th>
                 <th><%= @yesterday_task.where(status: 2).count %></th>
                 <th><%= @today_task.where(status: 2).count %></th>
                </tr>
               </tbody>
          </table>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
          <!--タスク完了済みグラフ-->
          <canvas id="myChart" width="300" height="100"> </canvas>
               <script>
                   $(document).on('turbolinks:load', function () {
                        var ctx = document.getElementById("myChart").getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',                      
                            data: {
                                labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
                                datasets: [{
                                    label: "タスク完了数",
                                    data: [<%= @tasks.where(status: 2).created_6days.count %>, <%= @tasks.where(status: 2).created_5days.count %>, <%= @tasks.where(status: 2).created_4days.count %>, <%= @tasks.where(status: 2).created_3days.count %>, <%= @tasks.where(status: 2).created_2days.count %>, <%= @yesterday_task.where(status: 2).count %>, <%= @today_task.where(status: 2).count %>],
                                    backgroundColor: 'rgba(255, 80, 120, 1.0)',
                                    borderColor: 'rgba(255, 80, 120, 1.0)',
                                    fill: false
                                }]
                            },
                            options: {
                              title: {
                                display: true,
                                text: '7日間の投稿数の比較'
                              },
                              scales: {
                                yAxes: [{
                                  ticks: {
                                    suggestedMax: 10,
                                    suggestedMin: 0,
                                    stepSize: 1,
                                    callback: function(value, index, values){
                                      return  value
                                    }
                                  }
                                }]
                              },
                            }
                        });
                    });
                </script>
      
        </div>
    </div>
</div>