 <main class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="card">
          <%= image_tag @user.image, class: "rounded-circle img-fluid" %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              会員ID：<%= @user.id %>
            </li>
            <li class="list-group-item">
              会員名：<%= @user.full_name %>
            </li>
            <li class="list-group-item">
              Level：<%= @level %>
            </li>
            <li class="list-group-item">
              Next level:
              <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: <%= @x * 10 %>%" aria-valuenow="<%= @x * 10 %>" aria-valuemin="0" aria-valuemax="100"><%= @x %></div>
              </div>
            </li>
          </ul>
          <div class="card-body text-center">
            <%= link_to edit_information_path do %>
               <i class="fas fa-edit"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> 